@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */

* {
	padding: 0;
}

.btn {
	padding: 5px 20px;
}

.sec_1 {
	margin: 110px auto;
}

.magic_hero {
	padding: -80px 0px;
}
.sec_2 {
	padding: 60px 0px;
}

.sec_4 {
	margin: 80px auto;
}

.sec_5 {
	margin: 50px auto;
}

.footzal_art {
	background-image: url('/assets/footzall.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease;
}

.footzal_art:hover {
	box-shadow: 0px 0px 20px #fdc60069;
	transform: scale(1.02);
	transition: all 0.4s ease;
}
.mini_art:hover {
	box-shadow: 0px 0px 20px #fdc60069;
	transform: scale(1.02);
	transition: all 0.4s ease;
}

.mini_art {
	background-image: url('/assets/mini_stad.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease;
}

.why {
	margin: 80px auto;
}

.why_article {
	padding: 20px;
}

footer {
	padding: 40px 0px;
}

.swiper-pagination-bullet {
	background: #fff !important;
	opacity: 0.5;
	width: 12px;
	height: 12px;
	margin: 0 4px !important;
	transition: 0.3s;
}
.swiper-pagination-bullet-active {
	background: #facc15 !important;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeIn {
	animation: fadeIn 1s ease forwards;
}
.delay-200 {
	animation-delay: 0.2s;
}
.delay-300 {
	animation-delay: 0.3s;
}

@media ((min-width: 320px) and (max-width:500px)) {
	header {
		padding: 0px 20px;
	}

	.sec_1 {
		margin-top: 100px;
		background-size: 420%;
		padding: 4px 0px;
	}

	.sec_2 {
		padding: 30px 20px;
	}
	.sec_3 {
		padding: 30px 20px;
	}
	.sec_4 {
		padding: 30px 20px;
		margin-top: -20px;
	}
	.sec_5 {
		padding: 30px 20px;
		margin-top: -20px;
	}

	.why {
		padding: 30px 20px;
	}

	footer {
		padding: 40px 20px;
	}

	.byId_sec {
		padding: 30px 20px;
	}

	.all-arena_sec {
		padding: 30px 20px;
	}
}

.shine-border {
	position: relative;
	z-index: 0;
	padding: 2px;
	border-radius: 16px;
	background: linear-gradient(130deg, #facc15, #ffffff, #facc15);
	background-size: 400%;
	animation: shine 4s linear infinite;
}

.shine-border > * {
	background-color: white; /* или другой фон */
	border-radius: 14px;
	z-index: 1;
	position: relative;
}

@keyframes shine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 400% 50%;
	}
}
